/* http://people.debian.org/~igloo/status.css */

body {
    color: black;
    background-color: white;
}

h3 {
    font-size: 1em;
}

a:link {
    color: blue;
}

#footer {
    border-top: 2px solid #d70751;
    padding: 0.5em;
}

.tiny {
    font-size: 60%;
}

div.alert {
    color: red;
}

.compact {
    text-align: center;
}

.status a:link {
    color: inherit;
}

.status a:visited {
    color: inherit;
}

.status-installed,
.status-uploaded {
    background-color: #7fffd4;
}

.status-installed-vancouvered,
.status-uploaded-vancouvered {
    background-color: #66CCAA;
}

.status-building-vancouvered,
.status-notforus-vancouvered,
.status-depwait-vancouvered,
.status-needsbuild-vancouvered,
.status-givenback-vancouvered,
.status-skipped-vancouvered,
.status-bduninstallable-vancouvered {
    color: #666600;
}

.status-building,
.status-notforus,
.status-depwait,
.status-needsbuild,
.status-givenback,
.status-skipped,
.status-bduninstallable {
    color: olive;
}

.status-needsbuild {
    background-color: #eeeedd;
}

.status-needsbuild-vancouvered {
    background-color: #BEBEB1;
}

.status-failed,
.status-buildattempted,
.status-maybefailed {
    background-color: #ffc0cb;
}

.status-failed-vancouvered,
.status-buildattempted-vancouvered,
.status-maybefailed-vancouvered {
    background-color: #CC9AA2;
}

.status-maybesuccessful,
.status-built {
    color: green;
}

.status-maybesuccessful-vancouvered,
.status-built-vancouvered {
    color: #006600;
}